<table mat-table [dataSource]="books">

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let book">{{book.title}}</td>
  </ng-container>

  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef>Genre</th>
    <td mat-cell *matCellDef="let book">
      {{genreService.genreNames[book.genre]}}
    </td>
  </ng-container>

  <ng-container matColumnDef="library_name">
    <th mat-header-cell *matHeaderCellDef>Library</th>
    <td mat-cell *matCellDef="let book">{{book.library_name}}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let book">
      <button mat-button [routerLink]="'/book-form/' + book.id">Edit</button>
      <button mat-button (click)="deleteBook(book)" *ngIf="userService.hasPermission('yalib.delete_book')">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
